<!DOCTYPE html>
<html>
  <head>
    <title>RecipeDb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-toggleable-md navbar-default bg-faded"> 
	  <%= link_to "Recipe App", root_path, class: 'navbar-brand' %>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="nav navbar-nav navbar-right">
	      <li class="nav-item"><%= link_to "About", pages_about_path, class: "nav-link" %></li>
	      <li class="nav-item"><%= link_to "All Recipes", recipes_path %></li>
	      <li class="nav-item"><%= link_to "Your Recipes", pages_my_recipes_path %></li>

	      <% if user_signed_in? %>
	      	<li class="nav-item">
	      		<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
	      	</li>

	      <% else %>
	      	<li class="nav-item">
	      		<%= link_to('Login', new_user_session_path) %>
	      	</li>
	      <% end %>
	    </ul>
	  </div>
	</nav>


  	<!-- Flash messages -->
  	<% flash.each do |n, msg| %>
  		<% if n == "alert" %>
  		<!-- Makes it red -->
	  		<%= content_tag :div, msg, class: "alert alert-danger"%>
	  	<% elsif n == "notice" %>
	  	<!-- Makes it green -->
	  		<%= content_tag :div, msg, class: "alert alert-success"%>
	  	<% else %>
	  	<!-- All other flashes be blue -->
	  		<%= content_tag :div, msg, class: "alert alert-info"%>
	  	<% end %>
  	<% end %>

	<!-- I'm guessing yield is what the content of the page is -->
    <%= yield %>
  </body>
</html>
